body{
    background-color: rgb(249, 224, 248);

}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    height: 600px;
    width: 500px;
    border-color: black;
    border-style: solid;
    justify-content: center;
}

#buttonin
{
    display: block;
    margin: auto;
    margin-top: 20px;
    
}